{% load static %}
<html>
<head>
    <title>acer</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <div class="nav-left">
            <h1><a href="{% url 'home' %}">HomePage</a> </h1>
        </div>
        {% block head %}
        {% endblock head %}
    </header>
    {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
    <p><a href="{% url 'logout' %}">Log out</a></p>
    {% else %}
        <p>You are not logged in.</p>
        <p><a href="{% url 'login' %}">Log In</a></p>
    {% endif %}
    <p><a href="{% url 'signup' %}">Sign Up</a></p>
    <div>
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>