{% extends 'base.html' %}

{% block content %}
<h1>Delete post</h1>
<form action="" method="post">{% csrf_token %}
    <h2>Are you sure you want kill {{ object.title }} post?</h2>
    <input type="submit" value="Delete">
</form>
{% endblock content %}