{% extends 'base.html' %}

{% block content %}
    <h1>{{ det.title }}</h1>
    <p>{{ det.body }}</p>
    <h3><a href="{% url 'edit' object.pk %}">Edit</a></h3>
    <h3><a href="{% url 'delete' object.pk %}">Delete</a></h3>
{% endblock content %}