{% extends 'base.html' %}
    {% block head %}
        <div class="nav-right">
            <h2><a href="{% url 'new' %}">+ New post</a> </h2>
        </div>
    {% endblock head %}

{% block content %}
    {% for i in object_list %}
        <div class="post-entry">
            <h2><a href="{% url 'detail' i.pk %}">{{ i.title }}</a></h2>
            <p>{{ i.body }}</p>
        </div>
    {% endfor %}
{% endblock content %}